:root{
    font-size: 16px;
    font-family: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background: #010105;
}

.main{
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
    width: 90%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__info{
    width: 50%;
}
.main__card{
    width: 350px;
    height: 600px;
    background: #12121a;
}